<html>

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif
    }
  </style>
</head>

<body>
  <strong>Olá, {{ user.name }}</strong>
  <p>Você se inscreveu no Meetup <strong>{{ meetup.title }}</strong></p>
  <br>
  <strong>Hora: {{ meetup.when }} </strong>
  <strong>Local: {{ meetup.location }} </strong>
  <strong>Descrição: {{ meetup.description }} </strong>
</body>

</html>
